*
!*/
!/*.py
!/requirements.txt
!/environment.yml
!/.gitignore
!/vi2026_pythonpackage
!/README.md

__pycache__/
*.pyc
*.pyo
*.pyd
!/__pycache__/
!/__pycache__/*.pyc
!/vi2026_pythonpackage/__pycache__/
!/vi2026_pythonpackage/__pycache__/*.pyc